# Rails
.bundle
db/*.sqlite3
db/*.sqlite3-journal
*.log
log/production.log.*
tmp
tmp/**/*

# Documentation
doc/api
doc/app
.yardoc
.yardopts
coverage

# Public Uploads
#public/system/*
#public/themes/*

# Don't upload precompiled assets
pubic/assets/*

# Public Cache
public/javascripts/cache
public/stylesheets/cache
public/refinery/*

# Vendor Cache
vendor/cache

# Acts as Indexed
index/**/*

# Refinery Specific
*.tmproj
*.autobackupbyrefinery.*
refinerycms-*.gem

# Mac
.DS_Store

# Windows
Thumbs.db

# NetBeans
nbproject

# Eclipse
.project

# Redcar
.redcar

# Rubinius
*.rbc

# Vim
*.swp
*.swo

# RubyMine
.idea

# E-texteditor
.eprj

# Backup
*~

# Capybara Bug
capybara-*html

# sass
.sass-cache
.sass-cache/*

#rvm
.rvmrc
.rvmrc.*

# vendor/extensions dummy applications.
vendor/extensions/**/spec/dummy


# sensitive data
config/database.yml
config/initializers/app_init.rb
config/initializers/devise.rb
config/initializers/secret_token.rb
db/data.yml

# needed for migration
db/schema.rb

# test data
db/datadump/sessions.yml
db/datadump/spree_addresses.yml
db/datadump/spree_adjustments.yml
db/datadump/spree_credit_cards.yml
db/datadump/spree_inventory_units.yml
db/datadump/spree_line_items.yml
db/datadump/spree_orders.yml
db/datadump/spree_orders_promotions.yml
db/datadump/spree_payments.yml
db/datadump/spree_payment_capture_events.yml
db/datadump/spree_roles_users.yml
db/datadump/spree_shipments.yml
db/datadump/spree_shipping_rates.yml
db/datadump/spree_state_changes.yml
db/datadump/spree_stock_items.yml
db/datadump/spree_stock_movements.yml
db/datadump/spree_tokenized_permissions.yml
db/datadump/spree_users.yml

# rvm files
.ruby-gemset
.ruby-version

# bundle cache
Gemfile.lock

# jQuery map file
jquery*.map
