<div id='brandStoryDiv'>
	<div id='brandDiv1'>
		<p><a href='/'>首页</a>/<a href='#'>品牌介绍</a></p>
		<div id='brandTitleDiv'>BIG ROOSTER</div>
	</div>
	<div id='brandDiv1'>
		<div><img src='/assets/spree/frontend/brand1.png'></div>
		<div><img src='/assets/spree/frontend/brand2.png'></div>
	</div>
	<div id='brandDiv2'>
		<div><img src='/assets/spree/frontend/brand3.png'></div>
		<div><img src='/assets/spree/frontend/brand4.png'></div>
		<div style='margin-top:16px;'><img src='/assets/spree/frontend/brand5.png'></div>
		<div style='margin-top:16px;'><img src='/assets/spree/frontend/brand6.png'></div>
		<div><img src='/assets/spree/frontend/brand7.png'></div>
	</div>
</div>
