<p style='margin:10px 0;'>
	<a href='/'>首页</a>/<a href='#'>联系我们</a>
</p>
<img src=<%= image_path('spree/frontend/line_right.png') %>>
<div style='margin:30px 0;height:700px;padding-bottom: 30px; border-bottom: 2px dashed #666;'>
	<div style='float:left;margin-left:30px;'>
		<p style='margin-bottom:20px;font-weight: bold;'>如何找到我们</p>
		<p>客服电话:021-32563580<br/>
			公司地址:长宁区临虹路168弄6号楼3楼<br/>
			比卢特天猫旗舰店:http://bilute.tmall.com<br/>
			比卢特京东旗舰店:http://mall.jd.com/index-72281.html</p>
	</div>
	<div style='float:right;'>
		<img src=<%= image_path('spree/frontend/lianxi.png') %> align="right">
	</div>
</div>