<p style='margin:10px 0;'><a href='/'>首页</a>/<a href='#'>配送流程说明</a></p>
<img src=<%= image_path('spree/frontend/line_right.png') %>>
<p style='margin:20px 0;'>配送流程说明</p>
<div style='text-align:center;margin-top:40px; padding-bottom: 30px; border-bottom: 2px dashed #666;'><img src=<%= image_path('spree/frontend/peisong.png') %> ></div>