<style>
p{font-size:13px}
a{color:black; text-decoration:none;}
</style>
<div style='margin-bottom:15px;'>
<h5 style='margin-left:20px;'>
<a href='/'>首页</a>/<a href='#'>退货声明</a>
</h5>
<img src=<%= image_path('spree/frontend/line_right.png') %>>
</div>
<div>
<p>目前官方网站 www.bigrooster.com.cn 暂不支持换货业务，如需换货请及时联系客服咨询办理退货后重新购买即可。<p>

<h5>商品退货说明</h5>

<p>适用范围：本官方网站 www.bigrooster.com.cn 售出的所有商品(不包含积分商城礼品)</p>

<p>在您收到商品后，15天之内（以物流签收时间为准）对商品不满意，在不影响产品二次销售的前提下可以为您安排退货。具体内容可以咨询客服或见以下退货政策。</p>

<h5>退货承诺:</h5>

<p>· 凡在本官方网站 www.bigrooster.com.cn 购买的商品未经穿着，请在24小时内与客服人员联系，提出需求，确认退货具体流程，并在15日内将商品寄回。</p>
<p>· 凡商品存在质量问题、发送（货）错误问题，支持无条件退换货，退换前请与客服人员联系，确认具体情况及流程，由此发生的邮寄费用由我公司承担。</p>
<p>· 在官方网站 www.bigrooster.com.cn 购买的商品暂不支持在实体店进行退货。同时，官方网站 www.bigrooster.com.cn 暂时也不受理实体店售出商品的退货申请。</p>
<p>· 如全部退货请将赠品以及发票一同寄回。</p>

<h5>退货规则:</h5>

<p>· 退货申请必须在客户收到商品之日起（以签收日期为准）15日内，超过时间不予退货</p>
<p>· 商品存在质量问题，如破损、污渍、版型问题、商品缺失等，不包含色差、客户选购尺码不合适等问题。</p>
<p>· 商品的外包装完好无损（包括包裹填充物及外包装箱或外包装袋），商品附件、吊牌、标签等齐全，商品保持官方网站 www.bigrooster.com.cn 出售时的原质原样不
  影响产品二次销售。</p>
<p>· 发票（未开发票除外）、发货清单齐全。</p>
<p>· 由于客户主观原因对商品不喜欢或感觉不符合心意的情况，符合退货条件可以办理，但需买家承担相应运费。</p>

<h5>以下情况不提供退货服务：</h5>

<p>· 超过退货规定时限的商品 ;</p>
<p>· 已经穿着过或洗涤过的商品 ;</p>
<p>· 已经修改或加工过的商品 ;</p>
<p>· 直接接触皮肤的内衣类商品 ;</p>
<p>· 商品吊牌、商标、票据等有缺失的商品 ;</p>
<p>· 少量色差问题商品（发错颜色商品除外）</p>

<h5>积分商城礼品退换货说明</h5>

<p>适用范围：本官方网站 www.bigrooster.com.cn 积分商城兑换的所有礼品</p>

<p>实物礼品退换货政策:</p>

<h6>积分商城兑换的任何一款实物礼品，若非礼品质量问题或发送（货）错误问题,将不接受退换货处理。</h6>

<p>积分商城兑换的任何一款实物礼品，若存在质量问题、发送（货）错误问题，支持无条件退换货，我们承担退回运费。退换货前请与客服人员联系，确认具体情况及流程，并请注意：</p>

<p>· 退换货申请必须在客户收到商品之日起（以签收日期为准）15日内，超过时间不予退换货</p>
<p>· 商品存在质量问题，如破损、污渍、版型问题、商品缺失等，不包含色差、客户选购尺码不合适等问题。</p>
<p>· 商品的外包装完好无损（包括包裹填充物及外包装箱或外包装袋），商品附件、吊牌、标签等齐全，商品保持官方网站 www.bigrooster.com.cn 积分商城兑换时的原
  质原样不影响产品二次销售。</p>
<p>· 退款形式与支付形式一致。退回礼品的同时，支付该礼品的积分将返回至您的帐户。</p>

<h5>以下情况不提供退换货服务：</h5>

<p>· 超过退货规定时限的商品 ;</p>
<p>· 已经穿着过或洗涤过的商品 ;</p>
<p>· 已经修改或加工过的商品 ;</p>
<p>· 直接接触皮肤的内衣类商品 ;</p>
<p>· 商品吊牌、商标、票据等有缺失的商品 ;</p>
<p>· 少量色差问题商品（发错颜色商品除外）</p>

<h5>虚拟礼品退货政策:</h5>

<p>· 积分商城兑换的任何一款虚拟类礼品，如优惠券，不接受退货处理。</p>

<p>退货邮寄地址</p>

<p>退货地址：闵行区联友路669号8号楼3楼，邮政编码：201107，联系人：范振雷，联系电话：021-34535952</p>

<h5>关于退款</h5>

<p>退货费用：</p>

<p>· 非质量问题退货，需要由买家承担运费，请您在邮寄产品的时候务必选择EMS快递、申通、顺丰快递，若您使用预付退货标签，您的运费金额将在您的退款中扣除。</p>

<p>退款时限：</p>

<p>· 未发货的订单申请退款后，财务会在2个工作日内退款到您的账户里。</p>
<p>· 已发货的订单退款，商品退货质检入库后会提交给财务，财务会在3个工作日左右退款到您的账户里，还请耐心等待。</p>


<h5>退货流程</h5>
</div>