<div style='font-size:13px'>
<p style='font-size:15px; margin:20px 0;'>如何使用积分</p>

<p style='font-weight:bold; margin:20px 0;'>如何使用积分</p>

<ul>
<li>线上积分商城将为您奉上汇集BIGROOSTER品牌多种超乎想象的礼品兑换选择。您可以使用积分在线兑换电子礼券 或 兑换精美礼品。
同时, 品牌零售店铺将持续定期举办丰富多彩的积分兑换礼品活动，欢迎您到店使用积分兑换超值礼品。</li></ul>

<p style='font-weight:bold; margin:20px 0;'>如何赚取积分</p>
<ul>
<li>BIGROOSTER品牌会员，在4品牌零售店铺或官方网站消费正价或9折(含)以上商品,即可获得积分。积分倍率及会员权益详见会员制度。
注：使用QQ或新浪微博联合登录的方式进入官网购物将无法获得积分。现在就注册成为会员！</li></ul>

<p style='font-weight:bold; margin:20px 0;'>如何收到礼物</p>
<ol>
<li>1.积分商城礼品
进入积分商城礼品详情页点击 <加入购物车> ，进入购物车并使用积分结算成功后，我们将对您兑换的礼品进行派送。你可在<我的历史订单>中查询订单详情。</li>

<li>2.积分商城电子礼券
进入积分商城优惠券详情页点击 <立即兑换> ，兑换成功后即可在<我的优惠券页面>查看您拥有的优惠券,点击<立刻使用>我们会将此电子礼券代码发送到您的手机上。您即可根据优惠券规则在相应官网或零售店铺使用。</li></ol>

</div>
<div style='text-align:center;margin-top:40px; padding-bottom: 30px; border-bottom: 2px dashed #666;'>
	<p style='text-align:left;font-size:15px;'>流程示意图</p>
	<img src=<%= image_path('spree/frontend/jifeng.png') %> >
</div>
