<div>
     <center><b style='font-size:20px'>你好 用户名！欢迎来到BIG ROOSTER！</b></center>
     <div style='float:left;margin-top:30px;width:200px;text-align:center;margin-left:95px;font-size:15px'>
	      <b>可用积分</b>
	 </div>
	 <div style='float:left;border-left:1px solid #B8B8B8;margin-top:30px;width:300px;text-align:center;font-size:15px'>
	      <b>您目前的状态</b>
	 </div>
	 <div style='float:left;border-left:1px solid #B8B8B8;margin-top:30px;width:200px;text-align:center;font-size:15px'>
	      <b>会员有效期至</b>
	 </div>
	 <center><img src=<%= image_path('spree/frontend/memberCore.png') %> > </center>
</div>