<div style='margin-bottom:20px;'>
	<p style='margin:10px 0;'>
		<a href='/'>首页</a>/<a href='#'>会员中心</a>
	</p>
	<img src=<%= image_path('spree/frontend/line_right.png') %>>
</div>
<div id='addrLeftPartDiv'>
	<ul>
		<li class='headLi'>会员中心</li>
		<li class='childLi firstChildLi'>
			<a href='#'>会员中心</a>
		</li>
		<li class='childLi lastChildLi'>
			<a href='#'>积分商城</a>
		</li>
		<li class='headLi'>交易管理</li>
		<li class='childLi firstChildLi'>
			<a href='#'>我的订单</a>
		</li>
		<li class='childLi'>
			<a href='#'>我的收藏</a>
		</li>
		<li class='childLi lastChildLi'>
			<a href='#'>我的评价</a>
		</li>
		<li class='headLi'>账户管理</li>
		<li class='childLi firstChildLi'>
			<a href='/personal_information'>修改个人资料</a>
		</li>
		<li class='childLi'>
			<a href='#'>修改密码</a>
		</li>
		<li class='childLi lastChildLi'>
			<a href='/addressedit'>收货地址簿</a>
		</li>
		<li class='headLi'>服务中心</li>
		<li class='childLi firstChildLi lastChildLi'>
			<a href='#'>退换货政策</a>
		</li>
	</ul>
</div>
<div>
     <center>
		<b class='welcomeTitle'>你好
			<% if current_spree_user %>
				<%=current_spree_user.login %>
			<% else %>
				<input id='loginFirst' type='hidden'>
			<% end %>
			！欢迎来到BIG ROOSTER！
		</b>
	</center>
     <div id='useableScoreDiv'>
	      <b>可用积分</b>
	 </div>
	 <div id='currentStatusDiv' >
	      <b>您目前的状态</b>
	 </div>
	 <div id='timeRemain' >
	      <b>会员有效期至</b>
	 </div>
	 <center>
		<img src=<%= image_path('spree/frontend/memberCore.png') %> > 
	</center>
</div>
