<div id='changerpassword'>
	<h2><a id='hometab' href='/'>首页</a>/修改个人资料</h2>
	<img src=<%= image_path('spree/frontend/line_right.png') %>>
	<div id='leftsidebar'>
		<div>
			<h3>会员中心</h3>
			<p><a href='#'>会员中心</a></p>
			<p><a href='#'>积分商城</a></p>
		</div>
		<div>
			<h3>交易管理</h3>
			<p><a href='#'>我的订单</a></p>
			<p><a href='#'>我的收藏</a></p>
			<p><a href='#'>我的评价</a></p>
		</div>
		<div>
			<h3>帐户管理</h3>
			<p><a href='#'>修改个人资料</a></p>
			<p><a href='#'>修改密码</a></p>
			<p><a href='#'>收货地址薄</a></p>
		</div>
		<div>
			<h3>服务中心</h3>
			<p><a href='#'>退换货政策</a></p>
		</div>
	</div>
	<%= form_tag("/users/"+spree_current_user.id.to_s, method: "put") do %>
		<div id='personalInformation'>
		<dl>
			<dt>姓名<span>*</span></dt>
			<dd><input type='text' id='nickname' placeholder='比卢特用户名' name='user[nickname]'>
			<input type='hidden' name='user[id]' value=<%= spree_current_user.id %> ></dd>
		</dl>
		<dl>
			<dt>性别<span>*</span></dt>
			<dd>
				<input id='male' type='radio' name='user[gender]' value='male' style='width:20px'>
				<label for='male'>男</label>
				<input id='female' type='radio' name='user[gender]' value='female' style='width:20px'>
				<label for='female'>女</label>
			</dd>
		</dl>
		<dl>
			<dt>生日<span>*</span></dt>
			<dd>
				<input id="datetimepicker4" type="text" name='user[birthday]'></input>
				<img id='open' src=<%= image_path('spree/frontend/calendar.png') %> >
			</dd>
		</dl>
		<dl>
			<dt>手机<span>*</span></dt>
			<dd><input type='text' id='cellphone' name='user[cellphone]' ></dd>
		</dl>
		<dl><dt>省/市/区</dt><dd>
		<select id="user_province" class='quyu' tabindex="10">
		 <option value="0">请选择省份</option>
		 </select>
		 <select id="user_town"  class='quyu' tabindex="11">
		 <option value="0">市/地区</option>
		 </select>
		 <select id="user_city" name="spree_user[city]" class='quyu' tabindex="12">
		 <option value="0">县/市</option>
		 </select></dd></dl>
		<dl><dt>密码提示问题<span>*</span></dt><dd><input type='text' name='user[passwd_hint_question]'></dd></dl>
		<dl><dt>密码提示答案<span>*</span></dt><dd><input type='text' name='user[passwd_hint_answer]'></dd></dl>
		<dl id='button_1'><input type="submit" id='saveUserInfoBtn' value="保存" ></dl>
		</div>
	<% end %>
	
</div>
<script>
$('#datetimepicker4').datetimepicker({
    //yearOffset:2,
    lang:'ch',
    timepicker:false,
    format:'Y/m/d',
    formatDate:'Y/m/d',
   // minDate:'-1970/01/02', // yesterday is minimum date
   // maxDate:'+1970/01/02' // and tommorow is maximum date calendar
});
$('#datetimepicker4').datetimepicker();
$('#open').click(function(){
	$('#datetimepicker4').datetimepicker('show');
});
</script>
