<script type="text/javascript">
	$(document).ready(function(){
		displayProduct();
	});
</script>
<div id="spinner" style='background: url("<%= image_path('spree/frontend/zoomloader.gif') %>") no-repeat scroll center center rgba(255,255,255,.5);'></div>
<div id='productListDiv'>
<ul id='productList'>
	<li class='productListItem'>
		<a class='linkToProduct'><img class='productImage'/></a>
		<a class='linkToProduct'><p class='productItemName'></p></a>
		<p class='productItemPrice'><span class='salePrice'></span><span class='hangTagPrice'></span></p>
	</li>
</ul>
</div>