<html>
	<head></head>
	<body>
		<div style="z-index: 1;top: 0;background-color:#FFFFFF;left:0;width:100%;height:100%;position:absolute;"></div>
		<a href="/home/buy"><image style="z-index: 2;top: 0;position: absolute;width: 1030px;left: 50%;margin-left: -515px;" src=/assets/background.jpg></a>
	</body>
</html>