	<div id='topDiv'>
		<div id='locationDiv' class='topDivCLass'>
			<p>您的位置:<label>中国/RMB</label></p>
			<p><label>English</label>/<label>Chinese</label></p>
		</div>
		<div id='logoDiv' class='topDivCLass'><a href='/'><img src='/assets/spree/frontend/bigRoosterLogo.png' alt='logo'/></a></div>
		<div id='loginOrRegDiv' class='topDivCLass'>
			<p><a href='#'>登录</a>/<a href='#'>注册</a></p>
			<p><a href='#'>购物车</a>[<label>0</label>]</p>
			<p id='searchInputP'><input id='searchInputText' type='text' placeholder='搜索'><img id='searchBtnImg' src='/assets/spree/frontend/searchImg.png' alt='search'></p>
		</div>
		<div style='clear:both'></div>
		<div id='navigateDiv'>
			<ul id='navigateList'>
				<li><a href='#'>首页</a></li>
				<li><a href='/products' target='_blank'>所有商品</a></li>
				<li><a href='#'>男装</a></li>
				<li><a href='#'>女装</a></li>
				<li><a href='#'>最新活动</a></li>
				<li><a href='/brandIntroduce' target='_blank'>品牌介绍</a></li>
				<li><a href='#'>会员中心<span class='clubSpan'>CLUB</span></a></li>
			</ul>
		</div>
	</div>
	<div style='clear:both;'></div>
	<div id='rightFixedDiv'>
		<div><a href='#'><img src='/assets/spree/frontend/cartIcon.png' alt='cartIcon'></a></div>
		<div><a href='#'><img src='/assets/spree/frontend/hotline.png' alt='hotline'></a></div>
		<div><a href='#'><img src='/assets/spree/frontend/memberCenter.png' alt='memberCenter'></a></div>
		<div><a href='#'><img src='/assets/spree/frontend/goTop.png' alt='goTop'></a></div>
	</div>
