	<div id='productDisplayDiv'>
		<div id='productDiv1'>
			<div id='leftProductDiv1'><a href='#'><img src='/assets/spree/frontend/leftProductDiv1.png'/></a></div>
			<div id='rightProductDiv1'>
				<div id='rightTopProductDiv1'><a href='#'><img src='/assets/spree/frontend/rightTopProductDiv1.png'></a></div>
				<div id='rightBottomProductDiv1'><a href='#'><img src='/assets/spree/frontend/rightBottomProductDiv1.png'></a></div>
			</div>
		</div>
		<div id='productDiv2'><img src='/assets/spree/frontend/productDiv2.png'></div>
		<div id='productDiv3'>
			<div id='productDiv3_1'><a href='#'><img src='/assets/spree/frontend/productDiv3_1.png'></a></div>
			<div id='productDiv3_2'><a href='#'><img src='/assets/spree/frontend/productDiv3_2.png'></a></div>
			<div id='productDiv3_3'><a href='#'><img src='/assets/spree/frontend/productDiv3_3.png'></a></div>
			<div id='productDiv3_4'><a href='#'><img src='/assets/spree/frontend/productDiv3_4.png'></a></div>
			<div style='clear:both;'></div>
		</div>
		<div id='productDiv4'>
			<p style='text-align:center;font-size:24px;margin:20px 0 10px 0;font-weight:bold;'>新品发布</p>
			<div id='imageProductDiv4'>
				<div id='leftProductDiv4'><a href='#'><img src='/assets/spree/frontend/leftProductDiv4.gif'></a></div>
				<div id='centerProductDiv4'>
					<div id='topCenterProductDiv4'>
						<p><a href='#'><img src='/assets/spree/frontend/topCenterProductDiv4.png'></a></p>
						<p>时尚条纹男式POLO衫</p>
						<p>￥89</p>
					</div>
					<div id='bottomCenterProductDiv4'>
						<div id='lBottomCenterProductDiv4'>
							<p><a href='#'><img src='/assets/spree/frontend/lBottomCenterProductDiv4.png'></a></p>
							<p>时尚条纹POLO衫</p>
							<p>￥119</p>
						</div>
						<div id='rBottomCenterProductDiv4'>
							<p><a href='#'><img src='/assets/spree/frontend/rBottomCenterProductDiv4.png'></a></p>
							<p>时尚透气中裤</p>
							<p>￥199</p>
						</div>
					</div>
				</div>
				<div id='rightProductDiv4'>
					<div id='rightProductDiv4_1'>
						<p><a href='#'><img src='/assets/spree/frontend/rightProductDiv4_1.png'></a></p>
						<p>清新时尚男式衬衫</p>
						<p>￥109</p>
					</div>
					<div id='rightProductDiv4_2'>
						<p><a href='#'><img src='/assets/spree/frontend/rightProductDiv4_2.png'></a></p>
						<p>基础男式休闲短裤</p>
						<p>￥139</p>
					</div>
					<div id='rightProductDiv4_3'>
						<p><a href='#'><img src='/assets/spree/frontend/rightProductDiv4_3.png'></a></p>
						<p>基础男式休闲长裤</p>
						<p>￥139</p>
					</div>
				</div>
			</div>
		</div>
		<div style='clear:both;'></div>
		<div id='productDiv5'>
			<p class='titleParagraph'>MEN</p>
			<div id='topProductDiv5' class='productList'>
				<div id='topProductDiv5_1'>
					<p><a href='/products/ybta430331ss' target='_blank'><img src='/assets/spree/frontend/topProductDiv5_1.png'></a></p>
					<p><label>￥99.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='topProductDiv5_2'>
					<p><a href='/products/ybta431021st' target='_blank'><img src='/assets/spree/frontend/topProductDiv5_2.png'></a></p>
					<p><label>￥99.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='topProductDiv5_3'>
					<p><a href='/products/ybta431221sp' target='_blank'><img src='/assets/spree/frontend/topProductDiv5_3.png'></a></p>
					<p><label>￥99.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='topProductDiv5_4'>
					<p><a href='/products/yesa430231bt' target='_blank'><img src='/assets/spree/frontend/topProductDiv5_4.png'></a></p>
					<p><label>￥149.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
			</div>
			<div id='bottomProductDiv5' class='productList'>
				<div id='bottomProductDiv5_1'>
					<p><a href='/products/yesa431051st' target='_blank'><img src='/assets/spree/frontend/bottomProductDiv5_1.png'></a></p>
					<p><label>￥119.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='bottomProductDiv5_2'>
					<p><a href='/products/yhda430621sz' target='_blank'><img src='/assets/spree/frontend/bottomProductDiv5_2.png'></a></p>
					<p><label>￥159.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='bottomProductDiv5_3'>
					<p><a href='/products/yhda430921bs' target='_blank'><img src='/assets/spree/frontend/bottomProductDiv5_3.png'></a></p>
					<p><label>￥139.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='bottomProductDiv5_4'>
					<p><a href='/products/ytda431151rs' target='_blank'><img src='/assets/spree/frontend/bottomProductDiv5_4.png'></a></p>
					<p><label>￥169.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
			</div>
		</div>
		<div style='clear:both;'></div>
		<div id='productDiv6'>
			<p class='titleParagraph'>WOMEN</p>
			<div id='imageProductDiv6' class='productList'>
				<div id='imageProductDiv6_1'>
					<p><a href='/products/YQWA430562SP' target='_blank'><img src='/assets/spree/frontend/imageProductDiv6_1.png'></a></p>
					<p><label>￥209.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv6_2'>
					<p><a href='/products/YBTA431362ST' target='_blank'><img src='/assets/spree/frontend/imageProductDiv6_2.png'></a></p>
					<p><label>￥139.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv6_3'>
					<p<a href='/products/YBTA431262SP' target='_blank'><img src='/assets/spree/frontend/imageProductDiv6_3.png'></a></p>
					<p><label>￥109.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv6_4'>
					<p><a href='/products/YBTA430962SP' target='_blank'><img src='/assets/spree/frontend/imageProductDiv6_4.png'></a></p>
					<p><label>￥109.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
			</div>
		</div>
		<div id='productDiv7'>
			<img src='/assets/spree/frontend/productDiv7.png'>
		</div>
		<div id='productDiv8'>
			<p class='titleParagraph'>热销款</p>
			<div id='imageProductDiv8' class='productList'>
				<div id='imageProductDiv8_1'>
					<p><a href='/products/ybca430361es' target='_blank'><img src='/assets/spree/frontend/imageProductDiv8_1.png'></a></p>
					<p><label>￥109.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv8_2'>
					<p><a href='/products/ybca434061es' target='_blank'><img src='/assets/spree/frontend/imageProductDiv8_2.png'></a></p>
					<p><label>￥129.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv8_3'>
					<p><a href='/products/ybca433961es' target='_blank'><img src='/assets/spree/frontend/imageProductDiv8_3.png'></a></p>
					<p><label>￥99.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
				<div id='imageProductDiv8_4'>
					<p><a href='/products/ytda431251ss' target='_blank'><img src='/assets/spree/frontend/imageProductDiv8_4.png'></a></p>
					<p><label>￥89.00</label><input class='goToBuyBtn' type='button' value='立即购买'></p>
				</div>
			</div>
		</div>
		<div id='productDiv9'>
<!--
			<p class='titleParagraph'>人气搭配</p>
			<div id='imageProductDiv9' class='productList'>
				<div id='imageProductDiv9_1'>
					<a><img src='/assets/spree/frontend/imageProductDiv9_1.png'></a>
				</div>
				<div id='imageProductDiv9_2'>
					<a><img src='/assets/spree/frontend/imageProductDiv9_2.png'></a>
				</div>
				<div id='imageProductDiv9_3'>
					<a><img src='/assets/spree/frontend/imageProductDiv9_3.png'></a>
				</div>
				<div id='imageProductDiv9_4'>
					<a><img src='/assets/spree/frontend/imageProductDiv9_4.png'></a>
				</div>
			</div>
			-->
			<p class='titleParagraph'>人气搭配</p>
			<div class='n2'><img src='/assets/spree/frontend/imageProductDiv9_1.png' no-repeat;'/>
				<div class='sy1'>
					<a href='/products/ybca433961es' target='_blank'>衬衫￥99.00</a>
					<br/>
					<a href='/products/YHDA430921BS' target='_blank'>短裤￥139.00</a>
				</div>
			</div>
			<div class='n2'><img src='/assets/spree/frontend/imageProductDiv9_2.png' no-repeat;'/>
				<div class='sy1'>
						<a href='/products/YESA431051ST' target='_blank'>衬衫￥119.00</a>
						<br/>
						<a href='/products/YHDA430621SZ' target='_blank'>短裤￥159.00</a>
				</div>
			</div>
			<div class='n2'><img src='/assets/spree/frontend/imageProductDiv9_3.png' no-repeat;'/>
				<div class='sy1'>
						<a href='/products/YBTA432761ES' target='_blank'>衬衫￥39.00</a>
						<br/>
						<a href='/products/YHDA430621SZ' target='_blank'>短裤￥159.00</a>
				</div>
			</div>
			<div class='n2' id='xiao4'><img src='/assets/spree/frontend/imageProductDiv9_4.png' no-repeat;'/>
				<div id='xiao4style' class='sy1'>
						<a href='/products/YQWA439802GS' target='_blank'>连衣裙 ￥309.00</a>
				</div>
			</div>
		</div>
	</div>
	<div style='clear:both;'></div>
