	<style>
	body, div, li, input, button, p, a{font-family:'Microsoft YaHei'; }
p{
	margin:0;
	padding:0;
}
body{
	font-size:inherit;
}
a{
	text-decoration:none;
	color:black;
}
#topDiv{
	width:950px;
	height:180px;
	margin-left:auto;
	margin-right:auto;
}
.topDivCLass{
	margin-top:20px;
	float:left;
}
.topDivCLass p{
	font-size: 13px;
	font-weight: bold;
	margin-bottom:8px;
}
.clubSpan{
	font-size: 10px;
	background-color: #0FA6BC;
	border-radius: 5px;
	color: white;
	width: 36px;
	display: inline-block;
	margin-top: -6px;
	float: right;
	font-weight: initial;
}
#locationDiv{
	width:120px;
	height:100px;
}
#loginOrRegDiv{
	width:120px;
	height:100px;
	text-align:right;
}
#logoDiv{
	height:100px;
	text-align:center;
	width:710px;
}
#logoDiv img{
	height:100px;
	width:130px;
}
#searchInputP{
	border:1px solid #B7B7B7;
	width:120px;
	height:22px;
}
#searchInputText{
	border: none;
	width: 100px;
	padding-left: 5px;
	outline: none;
	display: block;
	float: left;
	height: 20px;
}
#searchBtnImg{
	cursor: pointer;
	padding-top: 4px;
	display: block;
	float: left;
	height: 16px;
}
#navigateDiv{
	width:950px;
	height:40px;
	margin-top:10px;
	border-top:3px solid #000;
	text-align:center;
}
#navigateList{
	margin-bottom:0px;
	margin-top:10px;
	padding-left: 33px;
}
#navigateList li{
	float:left;
	width:100px;
	list-style: none;
	margin-left:30px;
	font-weight:bold;
	font-size:15px;
}
#navigateList li:first-child{
	margin-left:5px;
}
#rightFixedDiv{
	position:fixed;
	height:270px;
	width:66px;
	top:50%;
	margin-top:-135px;
	left:50%;
	margin-left:475px;
}
#rightFixedDiv>div{
	margin-bottom:2px;
	height:65px;
	width:65px;
}
#footDiv{
	width:950px;
	height:380px;
	margin:0 auto;
}
#footLogoDiv{
	height:100px;
	text-align:center;
	width:950px;
	margin-top:20px;
}
#footLogoDiv img{
	height:100px;
	width:130px;
}
#bottomNavigateDiv{
	width:946px;
	height:30px;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-left: 4px;
	margin-top:10px;
}
#bottomNavigateList{
	width:950px;
	margin:0;
	padding:0;
}
#bottomNavigateList >li{    
	list-style: none;
    float: left;
    width: 100px;
    text-align: center;
    margin-left: 30px;
}
#bottomNavigateList a{
	color:white;
}
#serviceContentDiv>div{
	float:left;
	width:128px;
	height:130px;
	padding-left:29px;
	border-left:1px solid #B8B8B8;
}
#serviceContentDiv{
	height:160px;
	width:950px;
	margin-top:30px;
	border-bottom:2px solid #3F3F3F;
}
#serviceContentDiv p{
	margin-bottom:4px;
	font-size:13px;
	font-weight:bold;
}
#serviceContentDiv a{
	color:#666;
}
#copyRightDiv{
	text-align:center;
	margin-top:20px;
}
#brandStoryDiv{
	width:950px;
	margin:0 auto;
	padding:0;	
}
#brandTitleDiv{
	height: 42px;
	width: 950px;
	text-align: center;
	background-color: #000;
	color: white;
	padding-top: 10px;
	font-size: 25px;
	margin-bottom: 12px;
	font-weight: bold;
}
#content{
	margin-left:5px;
}
	</style>
	<div id='topDiv'>
		<div id='locationDiv' class='topDivCLass'>
			<p>您的位置:<label>中国/RMB</label></p>
			<p><label>English</label>/<label>Chinese</label></p>
		</div>
		<div id='logoDiv' class='topDivCLass'><a href='/'><img src='/assets/spree/frontend/bigRoosterLogo.png'/></a></div>
		<div id='loginOrRegDiv' class='topDivCLass'>
			<p><a href='#'>登录</a>/<a href='#'>注册</a></p>
			<p><a href='#'>购物车[<label>0</label>]</a></p>
			<p id='searchInputP'><input id='searchInputText' type='text' placeholder='搜索'><img id='searchBtnImg' src='/assets/spree/frontend/searchImg.png'></p>
		</div>
		<div style='clear:both'></div>
		<div id='navigateDiv'>
			<ul id='navigateList'>
				<li><a href='#'>最新到店</a></li>
				<li><a href='/products' target='_blank'>所有商品</a></li>
				<li><a href='#'>最新活动</a></li>
				<li><a href='#'>主题推荐</a></li>
				<li><a href='/brandIntroduce' target='_blank'>品牌介绍</a></li>
				<li><a href='#'>正在发生</a></li>
				<li><a href='#'>会员中心<span class='clubSpan'>CLUB</span></a></li>
			</ul>
		</div>
	</div>
	<div style='clear:both;'></div>
	<div id='rightFixedDiv'>
		<div><a href='#'><img src='/assets/spree/frontend/cartIcon.png'></a></div>
		<div><a href='#'><img src='/assets/spree/frontend/hotline.png'></a></div>
		<div><a href='#'><img src='/assets/spree/frontend/memberCenter.png'></a></div>
		<div><a href='#'><img src='/assets/spree/frontend/goTop.png'></a></div>
	</div>

<div id='brandStoryDiv'>
	<div id='brandDiv1'>
		<p><a href='/'>首页</a>/<a href='#'>品牌介绍</a></p>
		<div id='brandTitleDiv'>BIG ROOSTER</div>
	</div>
	<div id='brandDiv1'>
		<div><img src='/assets/spree/frontend/brand1.png'></div>
		<div><img src='/assets/spree/frontend/brand2.png'></div>
	</div>
	<div id='brandDiv2'>
		<div><img src='/assets/spree/frontend/brand3.png'></div>
		<div><img src='/assets/spree/frontend/brand4.png'></div>
		<div style='margin-top:16px;'><img src='/assets/spree/frontend/brand5.png'></div>
		<div style='margin-top:16px;'><img src='/assets/spree/frontend/brand6.png'></div>
		<div><img src='/assets/spree/frontend/brand7.png'></div>
	</div>
</div>
	<div style='clear:both;'></div>
	<div id='footDiv'>
		<div id='footLogoDiv'><img src='/assets/spree/frontend/bigRoosterLogo.png'/></div>
		<div id='bottomNavigateDiv'>
			<ul id='bottomNavigateList'>
				<li><a href='#'>最新到店</a></li>
				<li><a href='/products' target='_blank'>所有商品</a></li>
				<li><a href='#'>最新活动</a></li>
				<li><a href='#'>主题推荐</a></li>
				<li><a href='/brandIntroduce' target='_blank'>品牌介绍</a></li>
				<li><a href='#'>正在发生</a></li>
				<li><a href='#'>会员中心<span class='clubSpan'>CLUB</span></a></li>
			</ul>
		</div>
		<div id='serviceContentDiv'>
			<div id='memberDiv' style='border-left:none;'>
				<p><img src='/assets/spree/frontend/userLogo.png'>会员专区</p>
				<p><a href='#'>&nbsp;&nbsp;会员中心</a></p>
				<p><a href='#'>&nbsp;&nbsp;会员制度</a></p>
				<p><a href='#'>&nbsp;&nbsp;如何使用积分</a></p>
				<p><a href='#'>&nbsp;&nbsp;会员常见问题</a></p>
			</div>
			<div id='transportDiv'>
				<p><img src='/assets/spree/frontend/transports.png' style="width:14px;">配送流程</p>
				<p><a href='#'>&nbsp;&nbsp;配送说明</a></p>
				<p><a href='#'>&nbsp;&nbsp;退货说明</a></p>
			</div>
			<div id='aboutUsDiv'>
				<p><img src='/assets/spree/frontend/home.png'>关于我们</p>
				<p><a href='#'>&nbsp;&nbsp;BIG ROOSTER</a></p>
				<p><a href='#'>&nbsp;&nbsp;中国报喜鸟集团</a></p>
				<p><a href='#'>&nbsp;&nbsp;产品系列</a></p>
			</div>
			<div id='helpDiv'>
				<p><img src='/assets/spree/frontend/connectUs.png'>帮助中心</p>
				<p><a href='#'>&nbsp;&nbsp;常见问题</a></p>
				<p><a href='#'>&nbsp;&nbsp;网站声明</a></p>
				<p><a href='#'>&nbsp;&nbsp;联系我们</a></p>
				<p><a href='#'>&nbsp;&nbsp;门店地址</a></p>
				<p><a href='#'>&nbsp;&nbsp;网站地图</a></p>
			</div>
			<div id='focusUsDiv'>
				<p><img src='/assets/spree/frontend/focusUS.png'>关注我们</p>
				<p><a href='#'><img src='/assets/spree/frontend/xinlang.png'>新浪微博</a></p>
				<p><a href='#'><img src='/assets/spree/frontend/weixin.png'>微信</a></p>
			</div>
			<div id='shopSafetyDiv'>
				<p><a href='#'><img src='/assets/spree/frontend/safety.png'>安全购物</a></p>
			</div>
		</div>
		<div id='copyRightDiv'>
			<p>© 2014 BigRooster.All Rights Reserved 沪ICP备12007886号-1</p>
			<p>报喜鸟集团</p>
		</div>
	</div>