<div id='weixinDiv'>
	<div id='weixinDiv1'>
		<p><a href='/'>首页</a>/<a href='#'>品牌介绍</a></p>
		<div id='weixinTitleDiv'>微信</div>
	</div>
	<div id='weixinDiv2'>
		<div><img src=<%= image_path('spree/frontend/brand1.png') %>></div>
		<div><img src=<%= image_path('spree/frontend/QR_codes.png') %>></div>
		<p><h5>比卢特官方微信</h5></p>
		<p>扫一扫，关注比卢特官方微信，获得比卢特最新资讯！</p>
		<p>参与活动就有机会获得奖品哦！</p>
	</div>
</div>